html{
    background-color: white;

}

body{
    background-color: rgb(124, 145, 184);
    width: 480px;
    margin: auto;
    height: auto;
}

@media  (min-width: 768px){
    html{
        background-color: darkgrey;
    }
    body{
        background-color: #D8D8D8;
        width: 960px;
    }
}