header{
    border: 1px solid grey;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
    background-color: rgb(109, 115, 128);
    display: grid;
    grid-template-columns: 14.64vw 13.9vw 13.9vw 13.91vw 13.91vw;
    grid-template-rows:  32vh 40vh 20vh;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    grid-column-start: 2;
    grid-column-end: 6;
}

@media only screen and (max-width: 768px){
    #content{
        background-color: rgb(112, 82, 112);
        display: flex;
        flex-direction: column;
        justify-content: center;

        
    }
    #content .aside{
        
        width: 100%;
        height: 24vh;
        
    }
    #content .frow{
        
        width: 100%;
        height: 20vh;
        
    }
    #content .frow2{
        
        width: 100%;
        height: 20vh;
        
    }

    #content .srow{
        justify-content: center;
        width: 17.57vw;
        height: 40vh;
        
    }

}