#intro article:first-child{
    border: 1px solid grey;
    height: 70px;    
}
#intro article:nth-child(2){
    border: 1px solid grey;
    height: 150px;
}

#intro article:nth-child(3), #intro article:last-child{
    height: 125px;
    border: 1px solid grey;
}


#intro article:first-child p{
    
    margin: 27px 0;
}

#intro article:nth-child(2) p{
    
    margin:14.078% 0;
}

#intro article:nth-child(3) p, #intro article:last-child p {
    margin:11.347% 0;
}


#content article{
    box-sizing: border-box;
    float: left;
    border: 1px solid grey;
    width: 240px;
    height: 250px;   
}

#content article p{
    box-sizing: border-box;
    padding: 120px 125px;
}

@media  (min-width: 768px){
    article{
        box-sizing: border-box;
    }

    #intro article:first-child{
        box-sizing: border-box;
        border: 1px solid grey;
        height: 100px;
    }

    #intro article:nth-child(2){
        box-sizing: border-box;
        border: 1px solid grey;
        width: 200px;
        height: 600px;
        float: left;
    }

    #intro article:nth-child(3), #intro article:last-child{
        height: 200px;
        width: 380px;
        border: 1px solid grey;
        float: left;
        
    }
    #content article{
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid grey;
        width: 190px;
        height: 250px;        
    }


}

