#content article{
    box-sizing: border-box;
    border: 1px solid grey;
    
}

.aside {
    display: flex;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 4;
    
   
}
.frow{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 4;
}
.frow2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 6;
}

.srow{
    display: flex;
    justify-content: center;
    align-items: center;
}